<form [formGroup]="newSubForm" (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field
            class="full-width"
            required
          >
            <input
              matInput
              placeholder="Username (found in channel URL)"
              formControlName="username"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Filters</mat-label>
            <input
              matInput
              placeholder="Separate filters with ';' or leave empty for no filters"
              formControlName="filters"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
