.cards-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, 250px);
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  transition: all 300ms;
}

.card:hover {
  transform: translateY(-3px) scale(1.1);
}
