<app-main-nav>
  <app-sub-form slot="sub-form"></app-sub-form>
  <app-videos-panel slot="videos-panel"> </app-videos-panel>
  <app-api-key-form slot="api-key-form"></app-api-key-form>
</app-main-nav>

<router-outlet></router-outlet>
