<mat-card class="card" id="{{ data.id }}">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="setThumbnailStyle(data.thumbnail)"></div>
    <mat-card-title>{{ data.name }}</mat-card-title>
    <div style="flex-grow: 1"></div>
    <button mat-icon-button color="accent" (click)="deleteSubscription()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="cardContent">
    <div class="addFiltersBtnArea">
      <button mat-icon-button (click)="toggleFiltersForm()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="filtersArea">
      <div *ngFor="let filter of data.filters" class="filter">
        <div mat-line>{{ filter }}</div>
        <button
          mat-icon-button
          class="deleteFilterButton"
          (click)="deleteFilter(filter)"
        >
          <mat-icon [inline]="true">clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="filtersFormArea">
      <form
        *ngIf="formVisible"
        [formGroup]="newFiltersForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="New filter(s)"
            formControlName="filters"
          />
        </mat-form-field>
        <button mat-icon-button type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
