<mat-card (click)="openVideo(data.id)" class="link">
  <div
    class="thumbnail"
    mat-card-image
    [ngStyle]="setThumbnailStyle(data.snippet.thumbnails.high.url)"
  >
    <div class="duration">
      {{ setDuration(data.contentDetails.duration) }}
    </div>
  </div>
  <mat-card-content>
    <div class="title" ellipsis>{{ data.snippet.title }}</div>
    <div class="creator small-text" ellipsis>
      {{ data.snippet.channelTitle }}
    </div>
    <div class="small-text">{{ data.snippet.publishedAt | amTimeAgo }}</div>
  </mat-card-content>
</mat-card>
