.thumbnail {
  position: relative;
  margin-bottom: 10px;
}

.duration {
  font-weight: 500;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: rgba(0, 0, 0, 0.666);
  border-radius: 3px;
}

.title {
  height: 40px;
  font-weight: 500;
  margin-bottom: 5px;
}

.creator {
  height: 20px;
}

.small-text {
  font-size: small;
}

.link:hover {
  cursor: pointer;
}
