<form [formGroup]="apiKeyForm" (ngSubmit)="onSubmitApiKey()" class="apiKeyForm">
  <mat-form-field appearance="outline">
    <mat-label>Enter your Youtube API key</mat-label>
    <input matInput formControlName="apiKey" />
  </mat-form-field>
  <button
    *ngIf="dialog.openDialogs.length == 0; else submitAndClose"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Submit
  </button>
</form>

<ng-template #submitAndClose>
  <button mat-raised-button mat-dialog-close color="primary" type="submit">
    Submit
  </button>
</ng-template>
